.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;left: 0;right: 0;bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: transparent;
  z-index: 2001;
  @media only screen and (max-width: 720px){
    width: 500px;
  }
  @media only screen and (max-width: 540px){
    width: 250px;
  }
}

// .pace .pace-progress {
//   box-sizing: border-box;
//   @include col(4/4);
//   z-index: 2000;
//   position: absolute;
//   top: 0;left: 0em;
//   height: 100%;
//   background: rgb(233, 30, 30);
// }

.pace.pace-inactive{
  display: none;
}

#preloader{
  width:100%;
  height:100vh;
  background: $white;
  overflow:hidden;
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2000;
}

.loading-item {
  @include typo(3em, $primary-color, 400);
  font-family: $style-font;
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  text-align: center;
  //responsive:start
  @include responsive(big-desktop){
    @include typo(6em, $primary-color, 400);
  }
  //responsive:end
}
